<div id="<%= dom_id house %>">
  <p>
    <strong>House number:</strong>
    <%= house.house_number %>
  </p>

  <p>
    <strong>Payable rent:</strong>
    <%= house.payable_rent %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= house.tenant_id %>
  </p>

  <p>
    <strong>Property:</strong>
    <%= house.property_id %>
  </p>

</div>
